@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
p{
    margin: 0;
}
:root{
    --background:hsl(185, 75%, 39%);
    --title-color: hsl(229, 23%, 23%);
    --text-color: hsl(227, 10%, 46%);
}
body{
    overflow: hidden;
    font-size: 1.125rem;
    font-family: Kumbh Sans;
    color: var(--text-color)
}
.container{
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;

}
.top-circle{
    position: absolute;
    /* width: 75%; */
    bottom: 50%;
    right: 55%;
}
.bottom-circle{
    position: absolute;
    /* width: 75%; */

    top: 50%;
    left: 50%;
}
.card{
    background-color: #ffffff;
    height: 23.4375rem;
    width: 21.875rem;
    position: relative;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-item-bg{
    width:21.875rem;
    height: 8.75rem;
    border-radius: 1rem 1rem 0 0;
    background-image: url("images/bg-pattern-card.svg");
}
.card-item-profile{
    margin-top: -3rem;
}
.card-item-img{
    border-radius: 50%;
    border: 0.25rem solid #ffffff;
}
/* texto de informacion */
.text-title{
    position: relative;
    font-weight: 700;
    color: var(--title-color);
    padding-right: 0.625rem;
}
.text-secondary{
    font-size: 0.875rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}
.card-item{
    border-bottom:0.5px solid var(--text-color);
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

/* colocar datos */
.card-item-data{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.container-data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.text-data{
    font-size: 0.5rem;
    color: var(--text-color);
    margin: 0; 
}
.format{
    margin: 0;
    padding: 0;
}

