body{
    overflow: hidden;
}
.container{
    min-height: 100vh;
    background-color: #19A1AD;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.top-circle{
    position: absolute;
    /* width: 75%; */
    bottom: 50%;
    right: 55%;
}
.bottom-circle{
    position: absolute;
    /* width: 75%; */

    top: 50%;
    left: 50%;
}
.card{
    background-color: #ffffff;
    height: 23.4375rem;
    width: 21.875rem;
    position: relative;
}
.attribution{
    margin-top: 25%;
}